@import "init";

@each $animation in $animation-names {
  .#{$animation} { @include prefixer(animation-name, $animation, webkit moz ms o spec); }
}
/* 淡入 */
@include keyframes(fadein, webkit moz ms o spec) {
  0%{opacity:0;}
  100%{opacity:1;}
}
/* 淡入-从上 */
@include keyframes(fadeinT, webkit moz ms o spec) {
  0%{opacity:0;}
  100%{opacity:1;}
}